/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: thin;
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Variables */
:root {
    --main-color: #1E64E7;
    --main-bg: #1E64E7;
    --main-text-color: #444444;
    --secondary-bg: #EFF3FA;
    --bg-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-bg);
  color: var(--main-text-color);
  font-family: 'SF-Pro-Display', sans-serif;
}

hr {
    border: none;
    height: 1px;
    background: var(--secondary-bg);
    margin-top: 1rem;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  background: var(--bg-white);
  padding: 1rem 8rem;
  margin-bottom: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  display: flex;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
    display: flex;
    align-items: center;
}

/* Logo */
header .logo img {
    width: 200px;
    height: auto;
}

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 6rem; 
}

.main-content {
    background-color: var(--bg-white);
    border-radius: 5px;
    padding: 1.5rem 2rem;
    width: 60vw;
    margin-left: 3rem;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

/*--------------------------------------------------------------
# Colours Wrapper
--------------------------------------------------------------*/

.colours-wrapper {
    display: flex;
    margin-top: 1rem;
}

/* Color item */
.colours-wrapper div {
    color: var(--bg-white);
    border-radius: 5px;
    padding: .75rem .75rem;
    margin-right: 1rem;
}

.colours-wrapper div:nth-child(1) {
    background-color: var(--main-bg);
}

.colours-wrapper div:nth-child(2) {
    background-color: var(--secondary-bg);
    color: #444444;
}

.colours-wrapper div:nth-child(3) {
    background-color: #D2E2FF;
    color: #444444;
}

.colours-wrapper div:nth-child(4) {
    background: #444444;
    color: #fff;
}

.colours-wrapper div:nth-child(5) {
    color: var(--main-text-color);
}

/*--------------------------------------------------------------
# Typography Wrapper
--------------------------------------------------------------*/

.typography-wrapper {
    margin-top: 1.5rem;
}

/* Heading levels */
.typography-wrapper h1 {
    font-size: 3.75rem;
    margin-top: 1.25rem;
}

.typography-wrapper h2 {
    font-size: 2rem;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
}

.typography-wrapper h3 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
}

.typography-wrapper h4 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
}

/*--------------------------------------------------------------
# Button Wrapper
--------------------------------------------------------------*/

.button-wrapper {
    margin-top: 1.5rem;
}

/* Button */
.btn {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Button primary */
.btn-primary {
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: var(--main-bg);
}

/* Button secondary */
.btn-secondary {
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--secondary-bg);
    color: var(--main-text-color);
    margin-left: .5rem;
}

/*--------------------------------------------------------------
# Layout Wrapper
--------------------------------------------------------------*/

.layout-wrapper {
    margin-top: 1.5rem;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
}

.layout-wrapper div {
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-wrapper div:nth-child(1) {
    padding: 3rem 2rem;
    grid-column: 1 / 5;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    margin: 0 8rem;
    width: 70%;
}

.sticky-sidebar {
    background-color: var(--bg-white);
    padding: 1rem 1.25rem;
    position: sticky;
    top: 5.5rem;
}

.sidebar h4 {
    font-size: 1.25rem;
}

/* Sidebar seperator */
.sidebar hr {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

/* Sidebar links */
.sidebar ul li {
    margin-bottom: .75rem;
}

.sidebar ul li a {
    transition: all 200ms;
}

.sidebar ul li a:hover {
    color: var(--main-color);
}